* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-container {
    margin-left: 30px;
    width: 484px;

}

#level-page {
    position: relative;
    top: 0;
    left: 25%;
    margin-top: 2rem;
}

.score {
    font-size: 15px;
    display: flex;
    justify-content: space-between;

}

.titolo {
    color: rgb(225, 6, 0);
    font-family: 'Racing Sans One', sans-serif;
    text-transform: uppercase;
    margin-left: 170px;
}

.titolo2 {
    color: rgb(225, 6, 0);
    font-family: 'Racing Sans One', sans-serif;
    text-transform: uppercase;
    margin-left: 180px;
}

.terza-riga {

    font-family: 'Racing Sans One', sans-serif;
    text-transform: uppercase;
}

.punteggio {
    margin-left: 95px;
    font-family: 'Racing Sans One', sans-serif;
    text-transform: uppercase;

}

.game-board {
    position: relative;
}



.grid {

    display: flex;
    flex-wrap: wrap;

    border: 2px solid black;


}

.cell {

    width: calc(100% / 10);
    aspect-ratio: 1;
    flex-shrink: 0;
    border: 1px solid;
    /* border: 1px solid red; */
    cursor: pointer;
    /*border: 1px dashed black;*/


}



.cell:hover {
    background-color: rgb(117, 117, 117);
}

.cell-clicked {
    background-color: rgb(255, 0, 0);
    cursor: not-allowed;
}

.cell-oil {
    background-image: url(img/oiloil-image-drawing-marker-pen-5c02897c0e7294.3527135615436701400592.png);
    background-size: 120%;
    cursor: not-allowed;
}

.cell-champ {
    background-image: url(img/cup.png);
    background-size: contain;
    cursor: not-allowed;
}

/*schermata di fine gioco*/
.end-game-screen {
    background-color: rgba(247, 40, 40, 0.733);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Racing Sans One', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    gap: 16px;
}

.end-game-screen-win {
    background-color: rgba(255, 238, 0, 0.733);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Racing Sans One', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    gap: 16px;
}

.champion {
    background-image: url(img/bandiere-da-corsa-a-scacchi-adesivo.jpeg);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Racing Sans One', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    gap: 16px;
}

.play-again {
    background-color: darkgray;
    font-size: 20px;
    padding: 6px 7px 6px 6px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(196, 196, 196);
}

.hidden {
    display: none;
}

.logo-f1 {
    margin-left: 30px;

}