* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    width: 90vh;
    height: 80vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

nav {
    height: fit-content;
    border: 1px solid black;
    padding: 1rem;

}

main {
    border: 1px solid black;
    display: flex;
    flex-grow: 1;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {}