* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 90vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

nav {
    padding: 1rem;
}

main {
    display: flex;
    flex-grow: 1;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;

    width: 600px;
    height: 600px;

}

.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aquamarine;
    cursor: pointer;
}

.clicked {
    background-color: blue;
    color: white;
}

.mushrooms {
    background-color: red;
    color: black;
}

.cell100 {
    width: calc(100%/10);
    height: calc(100%/10);
}

.cell81 {
    width: calc(100%/9);
    height: calc(100%/9);
}

.cell49 {
    width: calc(100%/7);
    height: calc(100%/7);
}